<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Шибениця - Граємо</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style_playground.css">
</head>
<body>
	<section>

		<div class="container">

			<div class="scoreAndButtons">

				<div class="score">
					<div class="victories">
						<p>Перемоги</p>
						<p></p>
					</div>
					<div class="losses">
						<p>Поразки</p>
						<p></p>
					</div>
				</div>

				<div class="buttons">
					<button class="btn playMore">Продовжити!</button>
					<button class="btn reload">Спочатку!</button>
				</div>
				
			</div>

			<div class="hangman">

				<div class="playSymbols">
					<canvas id="gallows" width="300" height="400"></canvas>

					<div class="guessingSymbols">
						<div class="symbolsRight">
							<p><b>Вгадані літери:</b></p>
							<div class="symbolsRightContainer"></div>
						</div>

						<div class="symbolsWrong">
							<p><b>Не вгадані літери:</b></p>
							<div class="symbolsWrongContainer"></div>
						</div>
					</div>

				</div>

				<div class="symbols">
					<p><b>Літери:</b></p>
					<div class="symbolsContainer"></div>
				</div>
			</div>

			<div class="chat">
				<div id="chatWindow">
					<% if (locals.user) { %>
						<ul></ul>
						<form>
							<input id="chatInput" type="text" placeholder="Повідомлення...">
						</form>
					<% } %>
				</div>

				<% include ./partials/login_chat %>

				<div id="openModal" class="modalDialog">
				    <div>	
				    	<a href="#close" title="Close" class="close">X</a>
				    	<form id="loginForm" action="/login">
				    		Логін<br>
				    		<input type="text" name='username'><br>
				    		<br>
				    		Пароль<br>
				    		<input type="text" name='password'><br>
				    		<br>

				    		<button id="cancel" type="reset"><a href="#close">Відмінити</a></button>
				    		<button id="loginButton" type="submit">Увійти</button>
				    	</form>
				    </div>
				</div>

			</div>

		</div>

		<div class="wordContainer">
			<div class="word"></div>
			<div class="wordSecret"><%=word %></div>
		</div>
	</section>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>

	<script src="/socket.io/socket.io.js"></script>
	
	<!-- Chat -->
	<script type="text/javascript" src="js/chat.js"></script>
	
	<!-- Login/Logout -->
	<script type="text/javascript" src="js/login_logout.js"></script>
	
	<!-- Game dynamics -->
	<script type="text/javascript" src="js/game.js"></script>
</body>
</html>